*,
body,
html {
  font-family: 'acorn';  
}
body{

  overflow-x: hidden;
}

.container:hover .image {
  transform: translateY(120px);
}

.container:hover .text-1 {
  opacity: 1;
}

.scroll {
  animation: masuk 0.5s linear;
}

@keyframes masuk {
  0% {
    background: rgba(255, 255, 255, 0.01);
  }

  50% {
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0px 0px 25px 0px #000 inset;
    opacity: 50%;
  }

  100% {}
}

footer {
  box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
}

.fotter-card{
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
}

@font-face {
  font-family: "acorn";
  src: url("../font/acorn.woff") format("woff");
}